<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<div class=" bg-gray-800 flex justify-center items-center ">

	<div class="lg:w-2/5 md:w-1/2 w-2/3">



		<form action="/profile/"  method="post" enctype="multipart/form-data" class="bg-white p-10 rounded shadow-lg min-w-full">
			{% csrf_token %}
	         <div>
        {% for m in messages %}

				 <div class="p-4 mb-4 font-medium text-yellow-700 bg-yellow-100  dark:bg-yellow-200 dark:text-yellow-800" role="alert">
  <span class="font-medium">Hey!</span> {{m}}

        {% endfor %}
    </div>
		<div class="text-end text-medium mb-2 text-gray-800 font-bold font-sans">
			<a  class="  bg-gray-800 text-sm font-medium text-white rounded px-4 py-2  shadow-xl hover:text-white hover:bg-black " href="/">Back</a>


		</div>

			<h1 class="text-center text-3xl mb-6 text-gray-800 font-bold font-sans">Edit Profile for <b>{{user.username}}</b></h1>
				 {% if user.image  %}
			<div class="  flex justify-center items-center"><img class="w-36 h-36  shadow-lg rounded-full" src="/media/{{user.image}}" alt="Medium avatar"></div>
				 {% else %}
			<div class="  flex justify-center items-center"><img class="w-36 h-36 shadow-lg  bg-cover bg-center bg-no-repeat" style="background-image: url('/media/image/profile.png'); " ></div>
				 {% endif %}



			<div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="firstname">First Name</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="text" name="firstname" id="firstname"  placeholder="first_name" value='{{user.first_name}}'/>
      </div>
            <div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="lastname">Last Name</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="text" name="lastname" id="lastname" placeholder="last_name" value='{{user.last_name}}'/>
      </div>
            <div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="username">Username</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="text" name="username" id="username" placeholder="username" value='{{user.username}}'/>
      </div>
				<div>
					<label class="text-gray-800 font-semibold block my-3 text-md" for="email">Email</label>
					<input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="text" name="email" id="email" placeholder="email" value='{{user.email}}' />
      </div>

            <label  class="text-gray-800 font-semibold block my-3 text-md"  for="gender">Gender  </label>

            <div>

				<select class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" id="gender" name="gender" >
					<option value="male" {% if data.gender == 'male' %}selected{% endif %} >Male</option>
					<option value="female" {% if data.gender == 'female' %}selected{% endif %} >Female</option>
					<option value="other" {% if data.gender == 'other' %}selected{% endif %}>Other</option>


            </select>
                </div>
			<div>
				  <label class="text-gray-800 font-semibold block my-3 text-md" for="Dateofbirth" >Date of birth    </label>
				  <input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="date" id="dateofbirth" name="dateofbirth" value="{{user.dateofbirth|date:'Y-m-d'}}">
			</div>
			<div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="image">Select image</label>
  				<input class="w-full bg-gray-100 px-4 py-2 rounded focus:outline-none" type="file" id="image" name="image" accept="image/*">
			</div>

							<div><button type="submit" class="w-full  mt-6 mb-3 bg-gray-800 hover:bg-black rounded px-4 py-2 text-lg text-white tracking-wide font-medium ">Edit</button></div>


		</form>
	</div>
</div>
</body>
</html>