<!DOCTYPE html>
<html lang="en" xmlns:webcla="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Web Categories</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>


</head>
<body>
<header class=" w-full bg-gray-800">
      <nav>
        <div class="flex justify-between h-16 px-10 shadow items-center">
        <div class="flex items-center space-x-8">
          <a href="/"><h1 class="bg-gray-900 text-white px-3 py-2 rounded-md text-xl font-medium ">WPC</h1></a>
           {% if user.is_authenticated %}
          <div class="hidden md:flex justify-around space-x-4">

<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-gray-300 bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Website Categories <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
    <ul class="py-1 text-sm text-gray-300 dark:text-gray-200 bg-gray-800" aria-labelledby="dropdownDefaultButton">
      {% for  category in categories %}
        <li>
        <a href="{% url 'webcla:webcategories' %}?category={{category.name}}" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">{{category.name}} </a>
        </li>
        {% endfor %}

    </ul>

</div>


          </div>
        </div>
            {% else %}
<div>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-gray-300 bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Website Categories <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
    <ul class="py-1 text-sm text-gray-300 dark:text-gray-200 bg-gray-800" aria-labelledby="dropdownDefaultButton">
      {% for  category in categories %}
        <li>
        <a href="{% url 'webcla:webcategories' %}?category={{category.name}}" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-600 dark:hover:text-white">{{category.name}} </a>
        </li>
        {% endfor %}
    </ul>

</div>
          </div>

        </div>

         {% endif %}



      <div class="w-1/8 flex items-end">
        {% if user.is_authenticated %}
         <div class="flex space-x-4 items-center">

          <a href="/profile" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile</a>
          <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log Out</a>
    </div>
          {% else %}
            <div class="w-1/8 flex items-end">
          <div class="flex space-x-4 items-center">
          <a href="/Login" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log In</a>
          <a href="/Signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign Up</a>
        </div>
                </div>
      {% endif %}


      </div>
            </nav>
    </header>

    <div class=" text-center py-7 "><h1 class=" text-xl lg:text-3xl text-gray-800 font-medium ">Category: {{category}}</h1></div>

<div class=" m-5 grid grid-cols-4">
 {% for website in websites %}
        <div class="flex flex-col drop-shadow bg-gray-800    text-blue-200 m-3  rounded">

            <div class="m-4"><h1 class="text-xl text-bold"> Website URL: {{website.url }}</h1>
            <h1 class="text-md"> Category: {{ website.category }}</h1>
            <div class=" text-medium mb-2 text-gray-800 font-bold my-4 font-sans">
			<a  class="  bg-blue-500 text-sm font-medium text-white rounded px-1 py-1  shadow-xl hover:text-black hover:bg-blue-600 " href="{% url 'webcla:detailview' website.pk %}">MORE DETAILS</a>
		</div>

            </div>

        </div>


{% endfor %}



        </div>

</body>
</html>